.place__paragraph {
  margin: 0;
  font-family: 'BasisGrotesquePro', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  max-width: 350px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width:740px) {
  .place__paragraph {
    margin-bottom: 10px;
  }
}