.people__card {
  max-width: 19%;
}

@media screen and (max-width: 1140px){
  .people__card {
    max-width: 25%;
    margin-bottom: 8%;
  }
  .people__card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 895px){
  .people__card {
    max-width: 40%;
    margin-bottom: 8%;
  }
  .people__card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 568px){
  .people__card {
    max-width: 80%;
    margin-bottom: 15%;
  }
  .people__card:last-child {
    margin-bottom: 0;
  }
}