.place {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 525px);
  grid-auto-flow: row;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .place {
    grid-template-rows: repeat(3, 400px);
  }
}

